
.showcases {
  height: 100vh;
}

.showcase-ap, .showcase-an {
  color: var(--orange);
  font-size: 2rem;
  font-weight: bolder;
}

.carousel-caption {
  color: var(--orange)!important;
  font-size: 2rem;
  font-weight: bolder;
}